/* Reset some default styles */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* Header Styles */
header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Main Content Styles */
.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.one {
  height: 100vh;
}
.content {
  flex-basis: 45%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
